

body {
    height:100%;
    overflow:scroll; 
    padding-bottom: 5rem;
  }

.header {
  width: 100%;
    display: flex;
    height: 80px;
    align-items: center; 
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white !important;
    z-index: 1;
    
  }
  .sticky {
      overflow: hidden;
      /* position: fixed; should check to undo it */
    /* top: 0; */
    width: 100%;
    /* z-index: -10; */

    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: white !important;
    z-index: 1;
  
    /* -webkit-box-shadow: 0 8px 6px -6px #eee;
                -moz-box-shadow: 0 8px 6px -6px #eee; */
    box-shadow: 0 8px 6px -6px #eee;
  
    /* box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5); */
  }
  .header div ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .categories {
    margin-left: 50px;
    /* display: block; */
    /* float: left; */
    width: 33%;
    /* border: 1px solid red; */
    /* position: absolute; */
  }
  .dropdown-content1:hover {
    border-bottom: 5px solid rgb(6, 47, 109);
  }
  .dropdown-content2:hover {
    border-bottom: 5px solid rgb(238, 0, 119);
  }
  .dropdown-content3:hover {
    border-bottom: 5px solid orangered;
  }
  .dropdown-content4:hover {
    border-bottom: 5px solid gold;
  }
  .dropdown-content5:hover {
    border-bottom: 5px solid peachpuff;
  }
  .dropdown-content6:hover {
    border-bottom: 5px solid rgb(240, 6, 6);
  }
  .dropdown-menu {
    /* display: none;
          position: absolute;
          top: 200px; */
    display: none;
    position: fixed; 
    background: white;
    top: 70px;
  
    z-index: 20;
    padding: 10px 30px 10px;
    border: 1px solid #eee;
    box-shadow: 0 8px 6px -6px #aaa;
  }
  
  .dropdown-menu1 {
    left: 10%;
  }
  
  .dropdown-menu2 {
    left: 14%;
  }
  
  .dropdown-menu3 {
    left: 19.5%;
  }
  .dropdown-menu4 {
    left: 26%;
  }
  .dropdown-menu5 {
    left: 34%;
  }
  .dropdown-menu6 {
    left: 34%;
  }
  .dropdown-menu ul li {
    margin-bottom: 10px;
  }
  .dropdown-menu ul li a {
    /* margin-right: 20px; */
    /* padding: 28px 17px 28px; */
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    /* border-bottom: none; */
    -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
    transition: left 0.2s ease-out, width 0.2s ease-out;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu ul li:hover a {
    padding-left: 8px;
    /* padding-right: -8px; */
    color: #ff0095;
  }
  
  .dropdown-menu ul {
    list-style: none;
  }
  
  .header div ul li a {
    /* margin-right: 20px; */
    padding: 28px 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    /* border-bottom: none; */
    -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
    transition: left 0.2s ease-out, width 0.2s ease-out;
    font-weight: 600;
    text-transform: uppercase;
  }
  .header div ul:hover {
    border-bottom: #282c3f;
    /* background-color: red; */
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Verdana, sans-serif;
    /* background-color: rgb(248, 248, 248); */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .mySlides {
    display: none;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    /* position: relative; */
    margin: 130px auto 0;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* <---------------------> */
  .header div img {
    width: 51px;
    margin-left: 60px;
  }
  
  .search-div {
      margin-left:40px;
    display: flex;
    width: 35%;
    background-color: #eee;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    /* margin-left: 7%; */
    border-radius: 3px;
  }
  
  #searchpng {
    /* height: 10px; */
    /* vertical-align: middle; */
    width: 15px;
    /* border: 1px solid red; */
    margin: 15px;
    opacity: 0.5;
  }
  .search-div input {
    width: 70%;
    border: none;
    margin-left: 2%;
    background-color: #eee;
  }
   input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  } 
  
  .nav-last {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
    margin-left: 30px;
    /* border: 1px solid red; */
  }
  .nav-last > div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    padding-top: 5px;
    margin-left: 15px;
  }
  
  #svg {
    height: 15px;
    /* border: 1px solid red; */
    margin-left: 0px;
  }
  
  /* h4-title
  .text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 600;
  } */
  /* #main{
    display:grid;
    grid-template-columns:repeat(4,1fr); 
    grid-template-rows:repeat(1,auto) ; 
    
    /* grid-row-gap: 0px; */
     /* border:1px solid black; 
     width:100%; 
    margin:auto;  
    
    }
    #main>div>img{
    margin:auto;
    width:100%;
    height:100%;  */
    /* }  */
     /* home page css starts here */
    .main2>img{
        /* margin:auto; */
        width:100%;
        height:100%;
        }
        .main3{
        display:grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows:repeat(1,auto) ; 
        width:100%; 
        margin:auto;
        /* gap:15px; */
        }
        .main3>div>img{
        margin:auto;
        width:100%;
        height:100%; 
        } 
        .main4{
            display:grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(1,auto);
            gap:15px;
            margin:auto;
            width:100%;
        }
        .main4>div>img{
        margin:auto;
        width:100%;
        height:100%; 
        } 
        .main5{
            display:grid;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(1,auto);
            /* gap:15px; */
            margin:auto;
            width:100%;
        }
        .main5>div>img{
        margin:auto;
        width:100%;
        height:100%; 
        } 
        #main6{
           display:grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(3,auto);
             /* gap:10px;  */
            margin:auto;
            width:100%;
        }
        #main6>div>img{
         margin:auto; 
        width:100%; 
          height:100%; 
        }  


     /* footer css starts here */
#container{
    width:70%;
    height:auto;
    /* border:1px solid blue; */
    margin:auto;
    display:flex
}
#container>a{
    font-size:10px;
    /* color:grey */
}
a{
  color:grey;
    text-decoration: none;
    margin-top:10px ;
}
.footerdiv1{
    /* margin:auto; */
    margin-left:20px
}
.footerdiv2{
    /* margin:auto; */
    margin-left:20px;
}
.footerimgs1{
    width:140px;
    height:40
}

.footerimgs2{
    width:122px;
    height:42
}
.socialmedia{
    width:20px;
    height:20px;
    margin-right: 8px;
}
.desktop-linkcontainer{
    /* margin:auto; */
    margin-left:20px;
}
.footerdiv4{
  display:flex; 
    /* flex-direction: column;  */
  margin-left: 25px;
  /* border:1px solid red */
}
.footer-div4_1{

  display:flex;
  display: block;
  margin-top:20px;
  width:150px;
  height:100px;
  border:1px solid black;
}
.footerdiv4_1>div>img{
/* margin-top:0px; */
width:48px;
height:40px;
 margin-top:25px; 

}
.footerdiv4_1>div+div{
/* margin-top:0px; */
/* display: inline-block; */
width:150px;
height:40px;
 margin-top:25px; 
}

/* .footerdiv4-1>img{
  /* margin-top:14px; 
}*/
.footerimgs3{
  margin-right:8px;
  width:48px;
  height:40px;
}
.footerimgs4{
width:48px;
height:49px;
}
#box1{
  width:70%;
  margin:auto;
  margin-bottom: 20px;
}
.footerpop~p{ 
  line-height: 28px;
  margin:auto;
   margin-bottom: 20px;
   color:grey;
}
.a5{
  margin-bottom:20px;
 justify-content: space-between;
 color:grey;
} 
 .box1below{
  display:flex;
  justify-content:space-between
}
/* #box2{
  width:70%;
  margin:auto;
}
#box2>h4{
  margin-bottom:20px;
}
#box2>h4~p{
  line-height: 2px;
  font-size: 14px;
}
#box3{
  width:70%;
  margin:auto; */
/* }
#box3>h5{
margin-bottom:-12px;
}
#box4{
width:70%;
  margin:auto;
}
#box4>h5{
margin-bottom:-14px;
}
.box4_1{
 margin-left:25px; 
}
#box5{
width:70%;
  margin:auto;  
}
#box5>h5{
  margin-bottom:-14px;
}
#box6{
width:70%;
  margin:auto;    
}
#box6>h5{
margin-bottom:-14px;
}
#box7{
width:70%;
  margin:auto;  
}
#box8{
width:70%;
  margin:auto;  
}
#box9,#box10,#box11,#box12,#box13{
width:70%;
  margin:auto;  
}
.notbold{
 font-weight:normal;
}
.box10_1{
 margin-left:30px;
}
#box11>h5{
 margin-bottom: -14px;
}
#box12>h5{
 margin-bottom: -14px;
}
#box13>h5{
 margin-bottom: -14px;
} */